body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-style: none;
  text-align: center;
  border-bottom: #000 solid 1px;
}

ul {
  list-style: none;
  padding: 0;
}

content {
  display: grid;
  grid-template-columns: 150px 1fr;
}
