body,
div,
span,
header,
section,
footer,
nav,
img,
form,
figcaption,
figure,
i,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 100%;
  margin: 0;
}

ol,
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a:link {
  color: black;
  text-decoration: none;
}
body a:visited {
  color: black;
  text-decoration: none;
}

body header a:hover {
  color: #c79288;
  text-decoration: none;
  
  transition: .2s linear;
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav,
.icons {
  padding: 20px;
}

li {
  display: inline;
  padding: 20px;
}

main{
  display: flex;
  flex-direction: column;
}

#section1,
#section2,
#section3,
#section4{
  height: 100vh;
}

.content_wrapper{
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center; /*수직축(flex direction의 축) 가운데 정렬*/
  align-items: center; /*수평축 가운데 정렬*/
}

.content_wrapper h1{
  padding: 40px;
  line-height: 130%;
  font-weight: bold;
}
#section1 .btn_about{
  border: 0;
  outline: 0;
  width: 150px;
  height: 50px;

  background-color: #c79288;
 
}

.hover1:hover {
  opacity: 0.7;
  transition: .2s linear;
}

.bg_image{
  border: 0;
  padding: 0;
  background-image: url(image/ocean1.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.content_project_image{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1032px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  nav,
  .icons {
    margin: 0 auto;
    padding: 5px;
  }
}